# Mainnet Configuration
VITE_MAINNET_API_URL=http://localhost:3001
VITE_MAINNET_WS_URL=http://localhost:3001

# Testnet Configuration  
VITE_TESTNET_API_URL=http://localhost:3000
VITE_TESTNET_WS_URL=http://localhost:3000
