.about-us-wrapper {
  width: 110px;
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-toggle-icon {
  width: 36px;
  height: 36px;
  object-fit: fill;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.about-panel {
  width: 110px;
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  margin-top: -5px;
  z-index: 1000;
}

.about-panel.collapsed {
  max-height: 0;
  opacity: 0;
}

/* Mainnet styles */
:root[data-network="mainnet"] .about-panel-content {
  background-color: var(--color-surface-default);
  border-color: var(--color-brand-primary);
}

:root[data-network="mainnet"] .about-menu-item:hover {
  background-color: var(--color-surface-default-hover);
}

:root[data-network="mainnet"] .about-menu-text {
  color: var(--color-brand-primary);
}

:root[data-network="mainnet"] .about-bottom-bar {
  background-color: var(--color-surface-primary);
  border-color: var(--color-brand-primary);
}

/* Testnet styles */
:root[data-network="testnet"] .about-panel-content {
  background-color: var(--color-surface-testnet-default);
  border-color: var(--color-brand-testnet-primary);
}

:root[data-network="testnet"] .about-menu-item:hover {
  background-color: var(--color-surface-testnet-default-hover);
}

:root[data-network="testnet"] .about-menu-text {
  color: var(--color-brand-testnet-primary);
}

:root[data-network="testnet"] .about-bottom-bar {
  background-color: var(--color-surface-testnet-primary);
  border-color: var(--color-brand-testnet-primary);
}

/* Common styles */
.about-panel-content {
  border: 2px solid;
  padding: 4px 0;
}

.about-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 9px 16px;
  cursor: pointer;
}

.about-bottom-bar {
  height: 3px;
  border: 2px solid;
  border-top: none;
}
