.feedback-button-wrapper {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  top: 3px;
}

/* Mainnet styles */
:root[data-network="mainnet"] .feedback-button {
  background-color: var(--color-surface-default);
  border-color: var(--color-brand-primary);
}

:root[data-network="mainnet"] .feedback-button:hover {
  background-color: var(--color-surface-default-hover);
}

:root[data-network="mainnet"] .feedback-text {
  color: var(--color-brand-primary);
}

:root[data-network="mainnet"] .feedback-bottom-bar {
  background-color: var(--color-surface-primary);
  border-color: var(--color-brand-primary);
}

/* Testnet styles */
:root[data-network="testnet"] .feedback-button {
  background-color: var(--color-surface-testnet-default);
  border-color: var(--color-brand-testnet-primary);
}

:root[data-network="testnet"] .feedback-button:hover {
  background-color: var(--color-surface-testnet-default-hover);
}

:root[data-network="testnet"] .feedback-text {
  color: var(--color-brand-testnet-primary);
}

:root[data-network="testnet"] .feedback-bottom-bar {
  background-color: var(--color-surface-testnet-primary);
  border-color: var(--color-brand-testnet-primary);
}

/* Common styles */
.feedback-button {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  gap: 8px;
  border: 2px solid;
  height: 32px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.feedback-icon {
  width: 18px;
  height: 18px;
  object-fit: fill;
}

.feedback-bottom-bar {
  height: 2px;
  border: 2px solid;
  border-top: none;
}
